.about{
    width:100%;
    padding:120px 8%;
    background:white;
}

.aboutTop{
    text-align:center;
    margin-bottom:80px;
}

.aboutTop span{
    font-size:0.9rem;
    text-transform:uppercase;
    letter-spacing:2px;
    color:var(--gold);
}

.aboutTop h2{
    font-family:"Cormorant Garamond", serif;
    font-size:4.5rem;
    line-height:1;
    margin-top:20px;
    color:var(--black);
}

.aboutContent{
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:60px;
    align-items:start;
}

.aboutText{
    display:flex;
    flex-direction:column;
    gap:30px;
}

.aboutText p{
    font-size:1.05rem;
    line-height:2;
    color:#555;
}

.aboutCards{
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:25px;
}

.aboutCard{
    padding:35px;
    background:var(--cream);
    border-radius:24px;
    transition:0.3s;
}

.aboutCard:hover{
    transform:translateY(-5px);
}

.aboutCard h3{
    font-family:"Cormorant Garamond", serif;
    font-size:2rem;
    margin-bottom:15px;
    color:var(--black);
}

.aboutCard p{
    font-size:0.95rem;
    line-height:1.8;
    color:#666;
}

@media(max-width:992px){

    .aboutContent{
        grid-template-columns:1fr;
    }

}

@media(max-width:768px){

    .about{
        padding:90px 5%;
    }

    .aboutTop h2{
        font-size:3rem;
    }

    .aboutCards{
        grid-template-columns:1fr;
    }

}