.hero{
    width:100%;
    min-height:100vh;
    padding:140px 8% 80px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    gap:60px;
    background:linear-gradient(white,#87393ca9);
    overflow:hidden;
}

.heroText{
    flex:1;
}

.miniText{
    font-size:0.9rem;
    letter-spacing:2px;
    text-transform:uppercase;
    color:var(--gold);
}

.heroText h1{
    font-family:"Cormorant Garamond", serif;
    font-size:6rem;
    line-height:0.95;
    margin:20px 0;
    color:var(--black);
}

.heroText p{
    max-width:550px;
    font-size:1.05rem;
    line-height:1.9;
    color:#555;
}

.heroButtons{
    display:flex;
    align-items:center;
    gap:20px;
    margin-top:40px;
}

.exploreBtn{
    padding:16px 34px;
    background:var(--gold);
    color:white;
    border-radius:999px;
    font-size:0.95rem;
    font-weight:500;
    transition:0.3s;
}

.exploreBtn:hover{
    transform:translateY(-3px);
}

.watchBtn{
    padding:16px 34px;
    background:transparent;
    border:1px solid rgba(0,0,0,0.1);
    border-radius:999px;
    font-size:0.95rem;
    transition:0.3s;
}

.watchBtn:hover{
    background:white;
}

.heroImage{
    flex:1;
    position:relative;
    display:flex;
    justify-content:center;
    align-items:center;
}

.heroImage img{
    width:100%;
    max-width:550px;
    position:relative;
    z-index:2;
}

.glow{
    position:absolute;
    width:500px;
    height:500px;
    background:rgba(200, 169, 107, 0.25);
    filter:blur(100px);
    border-radius:50%;
}

@media(max-width:992px){

    .hero{
        flex-direction:column;
        text-align:center;
        padding-top:160px;
    }

    .heroText p{
        margin:auto;
    }

    .heroButtons{
        justify-content:center;
    }

}

@media(max-width:768px){

    .hero{
        padding:140px 5% 60px;
    }

    .heroText h1{
        font-size:4rem;
    }

    .heroButtons{
        flex-direction:column;
        width:100%;
    }

    .exploreBtn,
    .watchBtn{
        width:100%;
    }

    .heroImage img{
        max-width:100%;
    }

}